<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HttpLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HttpLauncher.Properties.Settings>
            <setting name="HttpPort" serializeAs="String">
                <value>9980</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppDictionary" serializeAs="Xml">
                <value>
                    <AppDictionary>
                        <item>
                            <key>
                                <string>notepad</string>
                            </key>
                            <value>
                                <AppInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                                    <Name>notepad</Name>
                                    <Path>C:\Windows\notepad.exe</Path>
                                </AppInfo>
                            </value>
                        </item>
                    </AppDictionary>
                </value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
        </HttpLauncher.Properties.Settings>
    </userSettings>
</configuration>